{% extends "base.html" %}
{% block app_content %}
    <div id="status"> </div>
    <div class="container bg-light">
        <p>This is index</p>
<!-- 
        <a href="https://twitter.com/SenseMakesMath?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @SenseMakesMath</a>
        <div class="g-ytsubscribe" data-channelid="{{ channelID }}" data-layout="full" data-count="default"></div>
        <a class="twitter-timeline" href="https://twitter.com/SenseMakesMath?ref_src=twsrc%5Etfw">Tweets by SenseMakesMath</a> -->
        <div class="container">
            {% for video in videos %}
            {% include '_video.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="https://apis.google.com/js/platform.js"></script>
{% endblock %}